
.main-container {
    width: 400px;
    
}
.twoColumnBox {
  /* width: 100%; */
    /* height: 30px; */
  display: flex;
  justify-content: space-between;
  flex-flow: 1;
}
.twoColumnBoxInteger {
    width: 150px;
    display: flex;
    justify-content: space-around; 
    flex-flow: 1;
}
.twoColumnBox-item1 {
    width: 250px;
}

